body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}
 
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font: inherit;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #81b3d2;
  border: none;
}

.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #669ec0;
}

.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.main-header {
  width: 1200px;
  margin: 0 auto;
}

.main-navigation {
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
  outline: 2px solid yellow;
}

.site-navigation {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: 1200px;
  list-style: none;
  outline: 1px solid #00FFFF;
}

.site-navigation a {
  color: #000000;

  outline: 1px solid #00FFFF;
}

.site-navigation a:not(.main-header-logo) {
  padding: 10px 50px 22px 50px;
}

.nav-current {
  color: #766357;
}

.main-header-logo {
  position: relative;
  
  z-index: 10;
  }

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.container {
  position: relative;
  top: -27px;
  width: 1200px;
  margin: 0 auto;
  padding: 0 0;
}

.page-image {
 
  width: 100%;
  height: 510px;
  
  background-color: #81b3d2;
  
  background: 
  url("../img/welcome.png") no-repeat 50% 50%,
  url(../img/polygon.png) no-repeat -2px 452px,
  url("../img/background-photo.jpg") no-repeat 0 -80px; 
}

.info {
  margin: 0;
  padding: 0; 
}

.info h2 {
  margin-top: 57px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-align: center;
}

.info p {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  margin-bottom: 44px;
}

.product-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
  background-color: #81b3d2;
}

.product-description {
  margin: 0;
  padding: 0;
  margin-left: 60px;
  text-align: center;
}

.product-description h2 {
  font-size: 21px;
  font-weight: 600;
  line-height: 21px;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
}

.product-description p {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.product-description p:first-of-type {
  padding-bottom: 15px;
}

.product-info-image {
  width: 800px;
  height: 256px;
  margin-left: auto;
}

.product-info-two {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  color: #ffffff;

  background-color: #81b3d2;
}

.product-description-two {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-left: 48px;
}

.product-description-two h2 {
  font-size: 21px;
  font-weight: 600;
  line-height: 21px;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
}

.product-description-two p {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.product-description-two p:first-of-type {
  padding-bottom: 15px;
}

.product-info-image-two {
  width: 800px;
  height: 256px;
}

.product-info-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.info-logo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: 73px;
  margin-right: 63px;
  list-style: none;
}

.info-logo li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 56px; 
  margin-bottom: 83px;
}

.info-logo h3 {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  margin: 0;
  padding: 0;
  margin-top: 32px;
  margin-bottom: 30px;
}

.info-logo p {
  text-align: center;
  margin: 0;
  padding: 0;
}

.info-logo img {
  
  padding-bottom: 32px;
  order: -1;
  margin: 0;
  padding: 0;
}

.product-info-info {
  margin: 0;
  padding: 0;

  background-color: #eeeeee;
}

.product-info-feature {
  width: 390px;
  margin: 0;
  padding: 0;

  height: 256px;
}

.product-info-info h2{
  font-size: 21px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;
  margin: 0;
  margin-top: 50px;
  margin-bottom: 30px;
}

.product-info-info p {
  margin: 0;
  text-align: center; 
}

.product-info-info p:first-of-type {
  padding-bottom: 30px;
}

.form-section {
  position: relative;
}

.form-title {
  text-align: center; 
  margin: 0;
  padding: 0;
}

.form-title h3 {
  margin: 0;
  margin-top: 51px;
  margin-bottom: 44px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px; 
}

.form-title p {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 64px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  margin-left: -284px;
  width: 568px;
  min-height: 491px;
  
  z-index: 10;
}

.form-container h2 {
  margin: 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff; 
  text-align: center; 
}

.form-container a {
  color: #ffffff;
  padding-top: 31px;
  padding-bottom: 33px; 


  background-color: #766357; 
}

.form-container a:hover,
.form-container a:focus {
  background-color: #604e43; 
}

.form-container a:active {
  background-color: #503e33; 
}

.form-container h2:active {
  color: rgba(255, 255, 255, 0.3) 
}

.appointment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between; 
  flex-grow: 1;

  padding: 55px;
  
  background-color: #ffffff;
}

.appointment-item {
  width: 458px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-weight: 600;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.appointment-item label {
  padding-right: 20px;
}

.appointment-item input {
  flex-grow: 1;
  max-width: 346px; 
  height: 38px;
  outline: 0;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 13px;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.appointment-item:nth-child(3) input {
  max-width: 114px;
}

.appointment-item:nth-child(3) label:nth-of-type(1) {
  padding-right: 41px;
}

.appointment-item:nth-child(3) label:nth-of-type(2) {
  padding-left: 53px;
}

.appointment-item input:focus {
  background-color: #ffffff;
}

.index-button {
  box-sizing: border-box;
  font-size: 21px;
  font-weight: 600;
  width: 458px;
  height: 58px;
  margin-bottom: 0;
}

.state-map {
  position: relative;
  top: 89px;
  width: 1200px;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: 1px 1px;
  min-height: 594px;
  z-index: 1;
}

.main-footer {
  position: relative;
  top: -58px;
  width: 1200px;
  margin: 0 auto;
  min-height: 120px;
  z-index: 15;
  background-color: #ffffff;
  opacity: 90%;
}

.footer-container {
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-contact {
  display: block;
  margin: 0;
  margin-top: 36px;
  margin-left: 132px;
  font-size: 21px;
  text-align: 21px;
  font-weight: 600;
}

.footer-social {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  
  padding-top: 36px;
  padding-left: 169px;
  padding-bottom: 36px;
  list-style: none;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin-bottom: 10px;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  opacity: 30%;
}

.footer-copyright {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 101px;
}

.footer-copyright p {
  margin-right: 8px;
}

.footer-copyright path:focus,
.footer-copyright path:hover {
  fill: #81b3d2;
}

.footer-copyright path:active {
  fill: rgba(0, 0, 0, 0.3);
}

.background-filter {
  width: 1200px;
  margin: 0px auto;
 
  background-color: #81b3d2; 
  background-image: url("../img/background2.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  min-height: 217px;
}

.filter {
 display: flex;
 color: #ffffff; 
 justify-content: flex-start;
 min-height: 217px;
}

.fieldset-container {
  margin-left: 72px;
  margin-right: 43px;
  margin-top: 31px;
}

.filter fieldset {
  margin: 0px;
  padding: 0px;

  border: none;
}

.filter legend {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.filter ul {
  padding: 0;
  margin: 0;
  padding-left: 40px;
  list-style: none;
  line-height: 21px;
}

.filter-input-checkbox + label::before {
  content: "";

  position: absolute;
  left: -38px;
  top: -1px;
  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  
}

.filter-input-checkbox:checked + label::before {
  content: "";

  position: absolute;
  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  }

.filter-option label {
  margin-bottom: 22px;
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-range {
  margin: 0
  width: 318px;
  margin-top: 31px;
  margin-left: auto;
  margin-right: 72px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  top: -10px;
  border: 10px solid #ffffff;
  background: #1c4f80;
}

.filter-range-button {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.filter-range-button:hover {
  color: #000000;

  background: #ffffff;
}

.hotels-list {
  margin: 0;
  padding: 0;
}

.hotels-list-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.hotels-container {
  display: flex;
}

.hotel-image {
  width: 135px;
  height: 90px;
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: 72px; 

  background-color: rgba(0, 0, 0, 0.2);

}

.hotel-name {
  padding-left: 30px;
}

.hotel-name h3 {
  position: relative;
  top: -2px;
  font-size: 21px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.hotel-name h3 a:hover,
.hotel-name  h3 a:focus {
  color: #81b3d2;
}

.hotel-name h3 a:active{
color: rgba(0, 0, 0, 0.3);
}

.hotels a {
 color: #000000; 
}

.hotel-name p {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 12px;
}

.hotel-price {
  margin-left: auto;
  padding-right: 76px;
}

.hotel-rating-stars {
  margin: 0;
  padding: 0;
  margin-right: 72px;
}

.hotel-rating-stars p {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  margin-top: 47px;
  padding: 3px 13px 3px 16px;

  background-color: #f2f2f2;
}

.four-stars {
  width: 90px;
  height: 17px;
  margin-left: auto;

  background-image: 
  url(../img/star.png),
  url(../img/star.png),
  url(../img/star.png),
  url(../img/star.png);
  background-repeat: 
  no-repeat,
  no-repeat,
  no-repeat,
  no-repeat;
  background-position:
  0px 0px,
  24px 0px,
  48px 0px,
  72px 0px; 
}

.three-stars {
  width: 66px;
  height: 17px;
  margin-left: auto;

  background-image: 
  url(../img/star.png),
  url(../img/star.png),
  url(../img/star.png);
  background-repeat: 
  no-repeat,
  no-repeat,
  no-repeat;
  background-position:
  0px 0px,
  24px 0px,
  48px 0px;
}

.two-stars {
  width: 42px;
  height: 17px;
  margin-left: auto;

  background-image: 
  url(../img/star.png),
  url(../img/star.png);
  background-repeat: 
  no-repeat,
  no-repeat;
  background-position:
  0px 0px,
  24px 0px; 
}

.filter-button {
  border: 2px solid #ffffff;
}

.filter-button:active {
  color: #000000;
  background-color: #ffffff;
}

.button-book-a-hotel {
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #766357;
  padding: 6px 16px;
}

.button-book-a-hotel:hover,
.button-book-a-hotel:focus {
  background-color: #604e43;
}

.button-book-a-hotel:active {

  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.button-detailed {
  margin: 0;
  padding: 0;
  padding: 6px 17px;
  color: #ffffff;
}

.shorting-container {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding-bottom: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.shorting-container h3 {
  margin: 0;
  padding: 0;
  margin-top: 0px;
  margin-left: 72px;
  font-size: 21px;
  font-weight: 700;
}

.shorting-container ul{
  list-style: none;
  padding: 0;
  padding-left: 40px;
}

.shorting-container p {
  font-size: 12px;
  margin: 0;
  padding: 0;
  margin-left: 49px;
}

.shorting {
  display: flex;
}

.shorting li {
  margin: 0;
  padding: 0;
  padding-right: 33px;
}

.shorting li:not(:first-child) a {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.shorting li:first-child a {
  font-size: 12px;
  font-weight: 400;
  color: #81b3d2;
  border: none;
}

.shorting li:not(:first-child) a:hover,
.shorting li:not(:first-child) a:focus {
  color: #81b3d2;
}

.shorting li:not(:first-child) a:active {
  color: #000000;
  border: none;
}

.shorting li:first-child a:active {
  color: #000000;
  border: none;
}

.icon-up-down {
  display: flex;
  margin: 0;
  
  margin-left: auto;
  margin-right: 73px;
  cursor: pointer;
}

.icon-down {
  margin-left: 12px;
}

.icon-up-down path:hover,
.icon-up-down path:focus {
  fill: #000000;
}

.icon-up-down path:active {
  fill: #81b3d2;
}
