body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

 
a {
  text-decoration: none;
}

.button {
  font: inherit;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #669ec0;
}

.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.main-header {
  /* Временно для сетки */
  min-height: 56px;
}

.main-navigation {
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  display: flex;
  justify-content: space-between;

  width: 1200px;
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.page-image {
  display: inline-block;
  width: 100%;
  height: 773px;
  
  background-color: #81b3d2;
  
  background: 
  url("../img/welcome.png") no-repeat 50% 50%,
  url(../img/polygon.png) no-repeat 0px 100%,
  url("../img/background-photo.jpg") no-repeat;
  
}

.info h2 {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-align: center;

}

.info p {
  font-size: 12px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background-color: #81b3d2;
}

.product-description div{
  text-align: center;
  padding: 10px;
}


.product-info h2 {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
}

.product-info p {
 text-align: center; 
}

.pruduct-info-list {
  
  text-align: center;
  background-color: #ffffff;
}

.info-logo {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.info-logo h3 {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.product-info-info {

  background-color: #eeeeee;
}

.product-info-info h2{
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
}

.product-info-info p {
  text-align: center; 
}

.product-info-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

.product-info-feature {
  padding-top: 50px;
  width: 400px;
  min-height: 256px;
}

.menu {
  text-align: center; 
}

.menu h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px; 
}

.form-container {
  width: 568px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.form-container h2 {
  padding-top: 35px;
  padding-bottom: 33px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff; 
  background-color: #766357; 
  text-align: center; 
}

.form-container a {
  color: #ffffff; 
}

.form-container a:hover,
.form-container a:focus {
  background-color: #604e43; 
}

.form-container a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33; 
}

.appointment-item {
  font-weight: 700;
  text-align: center;
}

.appointment-item input {
  font: inherit;
  font-weight: 700;
  background-color: #f2f2f2;
}

.appointment-item input:focus {
  background-color: #ffffff;
}

.index-button {
  font-size: 21px;
  font-weight: 700;
  position: center;
}

.main-footer {
  min-height: 120px;
  background-color: rgba(255, 255, 255, 0.9);
}

.main-footer .footer-container {
  display: flex;
}

.footer-contact p {
  font-size: 21px;
  font-weight: 700;
}

.footer-social {
  list-style: none;
  min-height: 100px;
}

.social-button {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}


.social-button a:hover,
.social-button a:focus {
  background-color: #669ec0;
}

.social-button a:active {
  background-color: #5496bd;
}

.filter {
 color: #ffffff; 

 background-color: #81b3d2; 
}

.filter ul {
  list-style: none;
}


.filter legend {
  font-weight: 700;
}

.filter input {
  border: 2px solid #ffffff;
}

.background-filter {
  background-image: url("../img/background.jpg");
}

.fiter-button {
  border: 2px solid #ffffff;
}

.fiter-button:active {
  color: #000000;
  background-color: #ffffff;
}

.button-hotels {
  background-color: #766357;
}

.filter fieldset {

  border: none;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.5;
}

.filter-inupt-checkbox {
  width: 23px; 
  height: 23px;
  display: block; /* Блочный элемент */
  position: relative;
}

input[type="checkbox"] + span {
 position: absolute; /* Абсолютное позиционирование */
 left: 0; top: 0;
 width: 100%; height: 100%;
 background: url(../img/checkbox-off.png) no-repeat; /* Фоновый рисунок */
 cursor: pointer; /* Курсор в виде руки */
}
